* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.nav-bar {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e7e3f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-left {
  font-size: 3rem;

  padding-left: 150px;
}
.nav-bar-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  gap: 30px;
  padding-right: 150px;
}

.pannel-1 {
  width: 100%;
  background-color: #e7e3f0;
  display: flex;
  align-items: start;
  justify-content: start;
  border-bottom-right-radius: 40%;
  overflow: hidden;
}

.intro {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
}

.intro .h6 {
  font-size: 18px;
  font-weight: 400;
  color: #6837dc;
}

.intro .h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #6837dc;
}

.intro .p {
  color: #6d6d6d;
}

.intro .prevent-box {
  width: fit-content;
  color: white;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px;
  background-color: #6837dc;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.intro .prevent-box:hover {
  background-color: #783eff;
}

.intro .prevent-box:active {
  scale: 0.98;
}

.pannel-1 .intro-img img {
  width: 700px;
  object-fit: cover;
}

.pannel-2 {
  width: 100%;
}

.pannel-2 .static {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pannel-2 .static .h2 {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #6837dc;
}

.pannel-2 .static .p {
  color: #6d6d6d;
}
