* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.nav-bar {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e7e3f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-left {
  font-size: 3rem;

  padding-left: 150px;
}
.nav-bar-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  gap: 30px;
  padding-right: 150px;
}

.pannel-1 {
  width: 100%;
  background-color: #e7e3f0;
  display: flex;
  align-items: start;
  justify-content: start;
  border-bottom-right-radius: 40%;
  overflow: hidden;
}

.intro {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
}

.intro .h6 {
  font-size: 18px;
  font-weight: 400;
  color: #6837dc;
}

.intro .h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #6837dc;
}

.intro .p {
  color: #6d6d6d;
}

.intro .prevent-box {
  width: fit-content;
  color: white;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px;
  background-color: #6837dc;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.intro .prevent-box:hover {
  background-color: #783eff;
}

.intro .prevent-box:active {
  scale: 0.98;
}

.pannel-1 .intro-img img {
  width: 700px;
  object-fit: cover;
}

.pannel-2 {
  width: 100%;
}

.pannel-2 .static {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pannel-2 .static .h2 {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #6837dc;
}

.pannel-2 .static .p {
  color: #6d6d6d;
}

.cases {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.cases .case-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cases .case-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cases .case-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cases i {
  font-size: 50px;
  color: #6837dc;
}

.cases .num {
  font-size: 38px;
  color: rgba(0, 0, 0, 0.822);
  font-weight: 600;
  margin: 10px;
}

.cases .case-heading {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.663);
  margin: 10px;
}

.pannel-3 {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  margin-top: 50px;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
}

.pannel-3 .about img{
  width: 40rem;
}

.pannel-3 .symptom{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pannel-3 .symptom h2{
  font-size: 40px;
  color: #6837dc;
  margin-top: 15px;
}

.pannel-3 .symptom p{
  color: #000000b8;
}

.pannel-3 .symptom li{
  color: #000000b8;
  margin-left: 15px;
}

.pannel-3 .symptom .learn{
  color: white;
  font-weight: 500;
  border-radius: 50px;
  font-size: 14px;
  background-color: #783eff;
  width: fit-content;
  padding: 15px;
  text-align: center;
}

.pannel-4 {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  margin-top: 50px;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
}

.pannel-4 .dangerous img{
  width: 40rem;
  border-radius: 20px;
}

.pannel-4 .symptom{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pannel-4 .symptom h2{
  font-size: 40px;
  color: #6837dc;
  margin-top: 15px;
}

.pannel-4 .symptom p{
  color: #000000b8;
}

.pannel-4 .symptom li{
  color: #000000b8;
  margin-left: 15px;
}

.pannel-4 .symptom .learn{
  color: white;
  font-weight: 500;
  border-radius: 50px;
  font-size: 14px;
  background-color: #783eff;
  width: fit-content;
  padding: 15px;
  text-align: center;
}

.pannel-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.pannel-5 .option-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.pannel-5 .option-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.pannel-5 .option-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.pannel-5 .option-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.pannel-5 .icon {
  font-size: 50px;
  color: #6837dc;
}

.pannel-5 .content h3 {
  font-size: 22px;
  color: #6837dc;
}

.pannel-5 .content p {
  font-size: 14px;
  margin-top: 8px;
  color: #000000c4;
}